

@media(max-width : 414px){

    body{
        background-color: lightblue;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .joke-container{
        position: relative;
        top: 50px;
        width: auto;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        color: black;


    }

    nav{
        position: relative;
        top: 70px;
        padding: 5px;
        left: 25%;
        width: fit-content;
        /* background-color: orange; */
    }

    button{
        position: relative;
        height: 50px;
        width: 150px;
        border-radius: 50px;
        background-color: #E77728;
        border: none;

    }

    button:active {
        background-color: #C65511; /* darker shade of orange */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add a subtle shadow */
        transform: translateY(2px); /* move the button down slightly */
      }

    footer{
        position: relative;
        top: 80px;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
}